exportPattern("^[[:alpha:]]+")
import(IDSL.MXP)
import(IDSL.IPA)
import(IDSL.FSA)
import(parallel)
import(stats)
importFrom("graphics", "legend", "lines", "mtext", "par", "text")
importFrom("grDevices", "png", "dev.off", "rainbow")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "write.csv", "write.table", "read.csv", "read.delim")